.eikEcu .home-icon {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
  }

  .eIsSlF {
    color: rgb(51, 51, 51);
    border: medium none;
  }


  a {
    color: #4078c0;
    text-decoration: none;
  }
  a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }